/* Set up */

body {
  margin: 0;
  padding: 0;
}

/* Repeated declerations*/

.header, .content {
    background-color: rgb(42, 46, 63);
    display: flex;
    align-items: center;
}

a, .sub {
    color: rgba(255, 255, 255, 0.705);
}

/* header section (first section) */

.header{
    padding-right: 150px;
}

    /* Header ul */
.head_links {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

#logo {
    width: 100px;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* content section (second section) */

.content {
    padding: 60px 150px 100px 150px;
    justify-content: space-evenly;
}

#sword_c {
    margin-top: -150px;
}

#sword {
    width: 120px;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 10px 0px;
}

.sub {
    max-width: 520px;
}

#dxc {
    width: 350px;
    flex: 1 0 auto;
    max-width: 500px;
}

.support {
    color: white;
    background-color: rgb(43, 142, 255);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border: 0px;
    border-radius: 8px;
}

/* content section (third section) */

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 50px 0px 20px 0px;
}

#images {
    display: flex;
    justify-content: center;
}

.image img {
    width: 100%;
}

.image {
    flex-grow: 1;
    max-width: 350px;
}

.image p {
    text-align: center;
    padding: 0px 30px;
}

/* quote section (fourth section) */

#quote_container {
    height: 400px;
    padding: 50px;
    background-color: #E5E7EB;
    align-content: center;
}

#quote {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#quote p {
    margin: 0px;
}

#the_quote {
    font-style: italic;
    color: #1F2937;
    font-size: 34px;
}

#the_author {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

/* sign section (fifth section) */

#sign_section {
    height: 300px;
    align-content: center;
}

#sign_card {
    background-color: rgb(0, 119, 255);
    width: 650px;
    margin: 0 auto;
    padding: 25px 55px;
    border-radius: 6px;
    display: flex;
    gap: 30px;
}

#sign_letter p {
    margin: 0;
}

#sign_header {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
}

#sign_p {
    font-size: small;
}

#sign_letter p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sign_button {
    align-self: center;
    padding: 4px 20px;
    white-space: nowrap;
    font-size: medium;
    font-weight: bold;
    color: white;
    border: 3px;
    background-color: rgb(43, 142, 255);
    border-color: rgb(111, 190, 255);
    border-radius: 8px;
    border-style: solid;
}